body {
    font-size: var(--global--caption--FontSize);
    font-family: var(--base-font);
    background:$pink;
    transform: translateX(0px);
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
html {
    overflow-x: hidden;
}
a {
    color: var( --global--white--Color);
}
.wrapper {
    min-height: 100vh;
    @include flexbox();
    flex-direction: column;
}
.container {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}