body {
    font-size: var(--global--caption--FontSize);
    font-family: var(--base-font);
}
a {
    color: var( --global--white--Color);
}
.wrapper {
    min-height: 100vh;
    @include flexbox();
    flex-direction: column;
}
.container {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}