.header__fullscreen {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding-top: 33px;
    padding-bottom: 292px;
}
.header__wrapp {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 249px;
}
.header__menu {
    font-size: 18px;
    li {
        display: inline-block;
        color: var(--global--white--Color);
        @include f400;
        text-transform: uppercase;
    }
    li + li {
        margin-left: 60px;
    }
    .cool-link {
        display: inline-block;
    }
    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $pink;
        transition:var(--global-animation-hover);
    }
    .cool-link:hover::after {
        width: 100%;
        transition: var(--global-animation-hover);
    }
}
// ---<BURGER MENU>---
.header__menu-btn{
    width: 30px;
    display: none;
}
.header__menu-row {
    width: 100%;
    background-color: #000;
    height: 4px;
    margin-bottom: 4px;
}
// ---</BURGER MENU>---
.header__icon {
    font-size: calc(20px + 4 * ((100vw - 320px) / (1920 - 320)));
    margin-left: auto;
    max-width: 180px;
    width: 100%;
    li {
        display: inline-block; 
    }
    li + li {
        margin-left: 20px;
    }
    .icon-facebook-official:before {
        content: "\f230";
        font-family: 'icomoon';
    }
    .icon-twitter:before {
        content: "\f099";
        font-family: 'icomoon';
    }
    .icon-youtube-play:before {
        content: "\f16a";
        font-family: 'icomoon';
    }
    .icon-instagram:before {
        content: "\f16d";
        font-family: 'icomoon';
    }
    & ul > li > a {   
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var( --global-animation-icon-rotate) 
    }
    & ul > li:hover a {  
        transform: rotate(360deg); 
    }
}
.header__content {
    width: 100%;
    max-width: 360px;
    text-align: left;
    p {
        color: var(--global--white--Color);
        @include fl400;
        font-size: calc(22px + 6 * ((100vw - 320px) / (1920 - 320)));
        text-transform: uppercase;
    }
    h1 {
        color: $pink;
        @include f400;
        font-size: calc(56px + 24 * ((100vw - 320px) / (1920 - 320)));
        line-height: 70px;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 18px;
    }
    .btn {
        position: relative;
        font-size: calc(18px + 6 * ((100vw - 320px) / (1920 - 320)));
        border-radius: 4px;
        border: var(--global--orange--BorderColor);
        background: 0;
        padding: 30px 70px;
        margin-top: 68px;
        color: var(--global--white--Color);
        @include fl700;
        text-transform: uppercase;
        text-align: center;
    }
}
// @media (max-width: 767px) {
//     .header__content {
//         h1 {
//             font-size: calc(56px + (24 + 24 * 0.7) * ((100vw - 320px )/ 1920));
//         }
//     }
// }
