// Global variables follow the formula:
// `--global--concept--modifier--state--PropertyCamelCase`
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
:root {
  // Анимации
  --global-animation-pulse: shadow-pulse 1s infinite;
  --global-animation-hover: width .3s;
  --global-animation-icon-rotate:  all .6s ease; 
  --global-animation-popup-open: translate(-1000px);
  --global-animation-popup-close: translate(0px); 
  --global-animation-transition: .7s;
  --global-animation-burger-menu-chil1: rotate(0deg) translateY(0);
  --global-animation-burger-menu-chil3: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);  
  --global-animation-burger-menu-btn: translateX(0);   
  --global-animation-burger-menu-chil2: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);  
  --global-animation-burger-menu-close-child1: rotate(45deg) translateY(15px);
  --global-animation-burger-menu-close-child3: rotate(-45deg) translateY(-15px); 
  --global-animation-burger-menu-close-child2: translateX(-100px);  
  --global-animation-burger-menu-menu: translateX(-150%); 
  --global-animation-burger-menu-animation: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  --global-animation-burger-menu-animation-child1: translateX(0px); 
  --global-animation-burger-menu-animation-child2: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  --global-animation-burger-menu-animation-child3: translateX(20px);  
  --global-animation-burger-menu-animation-visible1: translateX(210px); 
  --global-animation-burger-menu-animation-visible2: translateX(-75%);
  --global-animation-popup-box: translate(-50%, -50%); 
  --global-animation-icon-link: rotate(360deg);
  //============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Ссылки
  --global--link--Color: var(--global--primary--Color);
  --global--link--TextDecoration: none;
  --global--link--hover-Color: #0088ce;
  --global--link--hover--TextDecoration: underline;
  //============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Границы
  --global--orange--BorderColor:  4px solid #cc5769;
  --global--orange--right-BorderWidth: 4px solid #cc5769;
  --global--white--BorderWidth: 4px solid #ffffff;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Отступы
  // --global--spacer--xxs: 0.125rem;
  // --global--spacer--xs: 0.25rem;
  // --global--spacer--sm: 0.5rem;
  // --global--spacer--md: 1rem;
  // --global--spacer--lg: 2rem;
  // --global--spacer--xl: 3rem;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// Цвет
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  //Специальные цвет
  --global--primary--Color: linear-gradient(to top, #5600ea 0%, #8a00ff 100%);
  --global--extra-primary--Color: linear-gradient(to right, #5328a1 0%, #782e0a 100%);
  --global--orange-primary--Color:#f97e6b;
  // --global--primary--Color: #39a5dc;
  // --global--primary--dark--Color: #0088ce;
  // --global--danger--Color:       #c00;
  // --global--danger--dark--Color: #a30000;
  // --global--warning--Color:       #ec7a08;
  // --global--warning--dark--Color: #b35c00;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Цвет текста
  --global--white--Color:#ffffff;
  --global--extra--Color: linear-gradient(45deg, #aa3a67 0%, #fb806b 100%);
  // --global--dark--Color: #292e34;
  // --global--dark--off--Color: #8b8d8f;
  // --global--light--Color: #fafafa;
  // --global--light--off-Color: #d1d1d1;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Фоновый цвет
  --global--dark--BackgroundColor:#030203;
  // --global--light--BackgroundColor: #fafafa;
  // --global--light--off--BackgroundColor: #ededed;
  // --global--dark--BackgroundColor: #292e34;
  // --global--dark--off--BackgroundColor: #393f44;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Контрольные точки(breakpoint)
  // --global--breakpoint--xs: 0;
  // --global--breakpoint--sm: 24em;
  // --global--breakpoint--md: 50;
  // --global--breakpoint--lg: 50em;
  // --global--breakpoint--xl: 73em;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Шрифты
  // Семейство шрифтов
  --base-font: 'Lato-Regular';
  --base-font-black: 'Lato-Black';
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Системные шрифты
  // --global--sans-serif--FontFamily: system;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Размер шрифта
  // --global--hero-title--FontSize:       3rem;
  // --global--main-title--FontSize:       2rem;
  // --global--secondary--title-FontSize:  1.5rem;
  // --global--sub-title--FontSize:        1.2rem;
  // --global--body--FontSize:             1rem;
  --global--caption--FontSize:          14px;
  //============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Высота строки
  // --global--sm--LineHeight: 1.1;
  // --global--md--LineHeight: 1.5;
  // --global--lg--LineHeight: 2;
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
  // Начертание шрифта
  --global--light--FontWeight: 300;
  --global--regular--FontWeight: 400;
  --global--medium--FontWeight: 500;
  --global--bold--FontWeight: 700;
  --global--black--FontWeight: 900;
}
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//ПРИМЕР
// .some {
//   font-family: var(--base-font);
//   color: var( --global--danger--Color);
//   background: var(--global--light--BackgroundColor);
//   font-size: var(--global--body--FontSize);
//   font-weight: var(--global--light--FontWeight);
// }
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================