// ------------------------------------------------------------<BURGER MENU>---------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 980px) {
    .header__wrapp .button {
        display: block;
    }
    .header__wrapp .menu {
        display: block;
    }
    .header__wrapp .header__menu ul {
        display: none;
    }
}
@media (min-width: 980px) {
    .header__wrapp .header__menu ul {
        display: block;
    }
}
@media (max-width: 580px) {
    .content__wrapp {
      @include flexbox();
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
        .box1 {
            margin-right: 0px;
        }
        .box2 {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
    .content__perfomance-inner .content__perfomance-item {
        display: block;
        padding-bottom: 45px;
        .perfomance__date {
            margin-bottom: 30px;
            margin-right: 0;
            color: var(--global--white--Color);
            font-family: var(--base-font);
            font-weight: var(--global--regular--FontWeight);
            font-size: 32px;
            text-transform: uppercase;
        }
        .perfomance__date::after {
            content: '';
            position: absolute;
            top: 44px;
            left: 0;
            border: var(--global--orange--BordertWidth);
            width: 100px;
            height: 0;
            border-radius: 0;
        }
        .perfomance__date.small::after {
            content: '';
            position: absolute;
            top: 44px;
            left: 0;
            border: var(--global--orange--BordertWidth);
            width: 100px;
            height: 0;
            border-radius: 0;
        }
        .perfomance__text {
            width: 100%;
        }
    }
    .content__perfomance-item .perfomance__text.line::before {
        display: none;
    }
    .content__perfomance-item .perfomance__text.line-big::before {
        display: none;
    }
}

// ------------------------------------------------------------</BURGER MENU>---------------------------------------------------------------------------------------------------------------------------------
// @media (max-width: 767px) {
//     .header__content {
//         h1 {
//             font-size: calc(56px + (24 + 24 * 0.7) * ((100vw - 320px )/ 1920));
//         }
//     }
// }
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================

