// <FULLSCREEN ОТЗЫВЧИВЫЙ-АДАПТИВ КАРТИНОК С КЛАССОМ IBG>=========================================================================================================================================================================================================================================================================

// .ibg{
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;
// }
// .ibg img{
//     width: 0;
//     height: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     visibility: hidden;
// }
// </FULLSCREEN ОТЗЫВЧИВЫЙ-АДАПТИВ КАРТИНОК С КЛАССОМ IBG>=========================================================================================================================================================================================================================================================================

// <POP-UP modal menu>=========================================================================================================================================================================================================================================================================
.popup__fast {
    width: 290px;
    height: 432px;
    background: $pink;
    z-index: 100;
    padding: 23px 0 0 27px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: var(--global-animation-popup-open);
    transition: .7s;
    border-radius: 4px;
    &.active {
        transform: var( --global-animation-popup-close);
    }
    h3 {
        font-size: 26px;
        color: #483c36;
        font-weight: bold;

    }
}
.bg__popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .7);
    display: none;
}
// </POP-UP modal menu>=========================================================================================================================================================================================================================================================================
