// ----------------------------------------------------<POP-UP FORM>-----------------------------------------------------------------------------------------------------------------------------
.popup__box {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--global-animation-popup-box);
    display: block;
    text-align: center;
    color: var(--global--dark--BackgroundColor);
    background-color: var(--global--dark--BackgroundColor);
    border-radius: $borderRadiusmax;
    opacity: 80%;
    background: linear-gradient(45deg, #ff0069, #000000);
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.7);
}
.popup__box h1 {
    color: var(--global--white--Color);
    text-align: center;
    font-size: 24px;
    @include fl500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.popup__box input {
    width: 12rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: $borderRadiusmax;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    background: 0;
    color: var(--global--white--Color);
    cursor: pointer;
    transition: 0.2s;
}
.popup__btn {
    width: 10rem;
    border: 2px solid rgb(0, 255, 224);
    border-radius: 23px;
    text-align: center;
    margin: auto;
    padding: 10px;
    outline: none;
    background: 0;
    color: var(--global--white--Color);
    text-transform: uppercase;
}
.popup__btn:hover {
    background-color: transparent;
    color: $aqua;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 3px rgb(0, 255, 224);
}
.popup__btn:focus {
    background-color: transparent;
    color: $aqua;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 3px rgb(0, 255, 224);
}
.popup__box input:focus {
    border: 2px solid rgb(0, 255, 224);
    box-shadow: 0px 0px 20px 1px rgb(0, 255, 224);
    transition: 0.2s;
}
.popup__fast {
    width: 240px;
    height: 380px;
    position: absolute;
    padding: -3px;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    transform: var(--global-animation-popup-open);
    transition: var(--global-animation-transition);
    &.active {
      transform: var( --global-animation-popup-close);
      margin: auto;
    }
}
.bg__popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .7);
    display: none;
}
// ----------------------------------------------------</POP-UP FORM>-----------------------------------------------------------------------------------------------------------------------------
