$minWidth: 320px;
$light: #fefefe;
$borderRadiusmin: 4px;
$borderRadiusmax: 5px;
$pink: #cc5769;
$light-grey: #e2dede;
$green: #117d11;
// $red: #e74c3c;
// $green: #8bc34a;
// $bg: #263238;
// $grey: #f4f6f5;
// $tomato: #ef6c00;
// $yellow: #fcb322;


// ПРИМЕР
// .some {
//     color: $bg;
// }