// <МИКСИНЫ>=========================================================================================================================================================================================================================================================================

@import 'mixin';

// </МИКСИНЫ>=========================================================================================================================================================================================================================================================================

// <ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <@import шрифты>=========================================================================================================================================================================================================================================================================

@import 'fonts';

// </@import шрифты>=========================================================================================================================================================================================================================================================================

// <Local шрифты>=========================================================================================================================================================================================================================================================================

@import 'local-fonts';

// </Local шрифты>=========================================================================================================================================================================================================================================================================

// <System шрифты>=========================================================================================================================================================================================================================================================================

@import 'system-fonts';

// </System шрифты>=========================================================================================================================================================================================================================================================================

// </ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================


@import 'library-vars';
@import 'vars';
$minWidth: 320px;

// </ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

@import 'null';

// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

// <ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// </ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================

@import 'global';
@import 'header';
@import 'footer';
@import 'media';
@import 'modules';
@import 'ui';

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================


//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
//                                                    <ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ibg {
    img {
        width: 100%;
        min-height: 980px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.content {
    min-height: 890px;
    padding-top: 4.3em;
    padding-bottom: 4.1em;
    background-color: var(--global--dark--BackgroundColor);
}   







//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
//
//                                                    </ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
