// <МИКСИНЫ>=========================================================================================================================================================================================================================================================================

@import 'mixin';

// </МИКСИНЫ>=========================================================================================================================================================================================================================================================================

// <ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <@import шрифты>=========================================================================================================================================================================================================================================================================

@import 'fonts';

// </@import шрифты>=========================================================================================================================================================================================================================================================================

// <Local шрифты>=========================================================================================================================================================================================================================================================================

@import 'local-fonts';

// </Local шрифты>=========================================================================================================================================================================================================================================================================

// <System шрифты>=========================================================================================================================================================================================================================================================================

@import 'system-fonts';

// </System шрифты>=========================================================================================================================================================================================================================================================================

// </ШРИФТЫ>=========================================================================================================================================================================================================================================================================

// <ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================


@import 'library-vars';
@import 'vars';
$minWidth: 320px;
$maxWidth: 1920px;

// </ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

@import 'null';

// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================

// <ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// </ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================

@import 'global';
@import 'header';
@import 'footer';
@import 'media';
@import 'modules';
@import 'animation';
@import 'ui';

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================


//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
//                                                    <ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//<END SECTION CONTENT>
.content {
    padding-top: 60px;
    padding-bottom: 57px;
    background-color: #030203;
    h3 {
        @include f400;
        font-size: calc(28px + 10 * ((100vw - 320px) / (1920 - 320)));
        color: var(--global--white--Color);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
    }
}
.content__wrapp {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    min-height: 580px;
    margin: 0 auto;
}
@media (max-width: 580px) {
    .content__wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .box1 {
            margin-right: 0px;
        }
        .box2 {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
}
.box {
    max-width: 350px;
    position: relative;
    min-height: 580px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 30px 25px;
    background-position: center;
    border-radius: $borderRadiusmin;
}
.box1 {
    margin-right: 15px;
}
.box2 {
    margin-left: 15px;
}
.box__content {
    max-width: 300px;
    h2 {
        color: var(--global--white--Color);
        @include fl400;
        font-size: calc(24px + 6 * ((100vw - 320px) / (1920 - 320)));
        text-transform: uppercase;
        text-align: center;
    }
    .price__box {
        color: var(--global--white--Color);
        @include fl400;
        font-size: calc(24px + 6 * ((100vw - 320px) / (1920 - 320)));
        text-transform: uppercase;
        text-align: center;
        margin-top: 214px;
    }
    .btn__box  {
        display: block;
        max-width: 300px;
        width: 100%;
        border-radius: 4px;
        border: var(--global--white--BorderWidth);
        padding: 25px 0;
        color: var(--global--white--Color);
        @include fl700;
        font-size: calc(18px + 6 * ((100vw - 320px) / (1920 - 320)));
        text-transform: uppercase;
        background: 0;
        text-align: center;
        margin-top: 40px;
    }
}
.icon-text {
    display: flex;
    margin-top: 30px;
    .icon-user::before {   
        content: "\f007";
        font-family: 'icomoon';
        color: var(--global--white--Color);
        margin-left: 44px;
    }
    p {
        color: var(--global--white--Color);
        @include fl400;
        font-size: 16px;
        margin-left: 8px;
    }
}
.box__text {
    color: var(--global--white--Color);
    @include fl400;
    font-size: 12px;
    margin-top: 30px;
}
.content__footer-text {
    color: $light;
    @include fl400;
    font-size: calc(20px + 2 * ((100vw - 320px) / (1920 - 320)));
    margin-top: 60px;
    text-align: center;
}



//</END SECTION CONTENT>




//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
//
//                                                    </ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
