// <МИКСИНЫ>=========================================================================================================================================================================================================================================================================
@import 'mixin';
// </МИКСИНЫ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <ШРИФТЫ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <@import шрифты>=========================================================================================================================================================================================================================================================================
@import 'fonts';
// </@import шрифты>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <Local шрифты>=========================================================================================================================================================================================================================================================================
@import 'local-fonts';
// </Local шрифты>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <System шрифты>=========================================================================================================================================================================================================================================================================
@import 'system-fonts';
// </System шрифты>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// </ШРИФТЫ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================
@import 'library-vars';
@import 'vars';
$minWidth: 320px;
$maxWidth: 1920px;
// </ПЕРЕМЕННЫЕ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================
@import 'null';
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================

// </ОБОЛОЧКА>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================
@import 'global';
@import 'header';
@import 'footer';
@import 'modules';
@import 'animation';
@import 'ui';
@import 'media';
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
//                                                    <ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//================================================================================================================================================================================================================
// =============================================================================================================================================================================================================
// ---------------------------------------------------<SECTION CONTENT>-------------------------------------------------------------------------------------------------------------------------------------  
.content {
  padding-top: 60px;
  padding-bottom: 57px;
  background-color: var(--global--dark--BackgroundColor);
  h3 {
    @include f400;
    font-size: calc(28px + 10 * ((100vw - 320px) / (1920 - 320)));
    color: var(--global--white--Color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
}

.content__wrapp {
  @include flexbox();
  align-items: center;
  max-width: 730px;
  min-height: 580px;
  margin: 0 auto;
}

.box {
  max-width: 350px;
  position: relative;
  min-height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 25px;
  background-position: center;
  border-radius: $borderRadiusmin;
  opacity: .4;
  &:hover {
    opacity: 1;
    transition: all .3s;
  }
}

.box1 {
  margin-right: 15px;
}

.box2 {
  margin-left: 15px;
}

.box__content {
  max-width: 300px;
  h2 {
    color: var(--global--white--Color);
    @include fl400;
    font-size: calc(24px + 6 * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    text-align: center;
  }

  .price__box {
    color: var(--global--white--Color);
    @include fl400;
    font-size: calc(24px + 6 * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    text-align: center;
    margin-top: 214px;
  }

  .btn__box {
    display: block;
    max-width: 300px;
    width: 100%;
    border-radius: $borderRadiusmin;
    border: var(--global--white--BorderWidth);
    padding: 25px 0;
    color: var(--global--white--Color);
    @include fl700;
    font-size: calc(18px + 6 * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    background: 0;
    text-align: center;
    margin-top: 40px;
    &:hover {
      background-color: transparent;
      color: $aqua;
      transition: 0.2s;
      box-shadow: 0px 0px 20px 3px rgb(0, 255, 224);
    }
  }
}

.icon-text {
  @include flexbox();
  margin-top: 30px;
  .icon-user::before {
    content: "\f007";
    font-family: 'icomoon';
    color: var(--global--white--Color);
    margin-left: 44px;
  }
  p {
    color: var(--global--white--Color);
    @include fl400;
    font-size: 14px;
    margin-left: 8px;
    max-width: 188px;
    width: 100%;
  }
}

.box__text {
  color: var(--global--white--Color);
  @include fl400;
  font-size: 16px;
  margin-top: 20px;
  line-height: 20px;
  max-width: 282px;
  width: 100%;
}

.content__footer-text {
  color: $light;
  @include fl400;
  font-size: calc(20px + 2 * ((100vw - 320px) / (1920 - 320)));
  margin-top: 60px;
  text-align: center;
  max-width: 1095px;
  width: 100%;
}
// -----------------------------------------------------</END SECTION CONTENT>-------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------<SECTION CONTENT__PERFOMANCE>-------------------------------------------------------------------------------------------------------------------------------------    
.content__perfomance {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding-top: 155px;
  padding-bottom: 135px;
}

.content__perfomance-wrapp {
  display: block;
  max-width: 540px;
  width: 100%;
  margin-left: auto;
}

.content__perfomance-box {
  margin-bottom: 80px;
  h3 {
    color: var(--global--white--Color);
    @include f400;
    font-size: 38px;
    text-transform: uppercase;
    padding-bottom: 60px;
  }
  p {
    max-width: 516px;
    width: 100%;
    @include fl400;
    color: var(--global--white--Color);
    font-size: 22px;
    line-height: 36px;
  }
}

.content__perfomance-item {
  @include flexbox();
  padding-bottom: 45px;
  .perfomance__date {
    position: relative;
    margin-right: 113px;
    color: var(--global--white--Color);
    @include fl400;
    font-size: 32px;
    text-transform: uppercase;
  }
  .perfomance__date::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 100px;
    border: var(--global--orange--BordertWidth);
    border-radius: 100px;
    height: 24px;
    width: 24px;
  }
  .perfomance__date.small::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 100px;
    border: var(--global--orange--BordertWidth);
    border-radius: 100px;
    height: 24px;
    width: 24px;
  }
  .perfomance__text {
    position: relative;
    max-width: 347px;
    width: 100%;
    color: var(--global--white--Color);
    @include fl400;
    font-size: 22px;
    line-height: 24px;
  }
  .perfomance__text.line-big::before {
    content: '';
    position: absolute;
    top: 38px;
    left: -68px;
    height: 96px;
    width: 6px;
    border-left: var(--global--white--BorderLeftWidth);
    border-radius: 10px;
  }
  .perfomance__text.line::before {
    content: '';
    position: absolute;
    top: 33px;
    left: -68px;
    height: 85px;
    width: 6px;
    border-left: var(--global--white--BorderLeftWidth);
    border-radius: 10px;
  }
}
// -----------------------------------------------------</SECTION CONTENT__PERFOMANCE>-------------------------------------------------------------------------------------------------------------------------------------

// ------------------------------------------------------------<SECTION GALLERY>-------------------------------------------------------------------------------------------------------------------------------------        
.gallery {
  background-color: var(--global--dark--BackgroundColor);
  padding-top: 61px;
  padding-bottom: 61px;
  h3 {
    color: var( --global--white--Color);
    @include fl400;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
  .btn-gallery {
    display: block;
    max-width: 300px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: var(--global--white--BorderColor);
    color: var(--global--white--Color);
    font-family: var(--base-font);
    font-weight: var(--global--bold--FontWeight);
    font-size: 24px;
    text-transform: uppercase;
    background: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    margin-top: 61px;
    &:hover {
      background-color: transparent;
      color: $aqua;
      transition: 0.2s;
      box-shadow: 0px 0px 20px 3px rgb(0, 255, 224);
    }
  }
}
.gallery__box {
  @include flexbox();
  flex-wrap: wrap;
}
.gallery__content {
  flex-grow: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// --------------------------------------------------------</GALLERY>-------------------------------------------------------------------------------------------------------------------------------------    

// ---------------------------------------------------<SECTION CONTENT__MAP>-------------------------------------------------------------------------------------------------------------------------------------    
.location {
  position: relative;
}
.location__wrapp {
  position: relative;
  width: 100%;
  min-height: 979px;
}
.location__box {
  position: absolute;
  bottom: 0;
  margin: 0 auto 60px;
  right: 0;
  min-height: 238px;
  width: 82%;
  left: 0;
  max-width: 980px;
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
  border-radius: 5px;
  background-color: #fff;
  opacity: .85;
}
.location__content {
  padding: 48px 74px;
}
.location__title {
  color: #000000;
  @include f400;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}
.location__text {
  max-width: 834px;
  width: 100%;
  color: #000000;
  @include fl400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  margin-top: 22px;
  p {
    color: #424242;
    font-size: 18px;
    text-align: center;
  }
}
.gmnoprint {
  display: none;
}
.gm-control-active.gm-fullscreen-control {
  display: none;
}
.gm-style-cc {
  display: none;
}
// -------------------------------------------------</SECTION CONTENT__MAP>-------------------------------------------------------------------------------------------------------------------------------------    
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//============================================================================================================================================================================================================================
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// 
//
//                                                    </ОСНОВНОЙ БЛОК>
//
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------