<header>
    <section class="header__fullscreen" style="background-image: url(images/header__bg.jpg);">
        <div class="container">
            <nav class="header__wrapp wrapp">
                <div class="header__menu">
                    <ul>
                        <li><a class="cool-link" href="#">Rockwille story</a></li>
                        <li><a class="cool-link" href="#">Tickets</a></li>
                        <li><a class="cool-link" href="#">Gallery</a></li>
                        <li><a class="cool-link" href="#">Location</a></li>
                    </ul>
                </div>
                <div class="header__icon">
                    <ul>
                        <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="burger__menu menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <div class="header__content">
                <p>Rock is fest</p>
                <h1>Music festival</h1>
                <p>
                    Welcome to Rockwille
                </p>
                <button class="btn">Contact Us</button>
            </div>
        </div>
    </section>
</header>