<header>
    <section class="header__fullscreen" style="background-image: url(images/header__bg.jpg);">
        <div class="container">
            <div class="menu-toggler">
                <div class="bar half start"></div>
                <div class="bar"></div>
                <div class="bar half end"></div>
            </div>
            <nav class="header__wrapp">
                <div class="menu-burger">
                    <div class="header__menu">
                        <ul>
                            <li><a class="cool-link" href="#">Tickets</a></li>
                            <li><a class="cool-link" href="#">Story</a></li>
                            <li><a class="cool-link" href="#">Gallery</a></li>
                            <li><a class="cool-link" href="#">Location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="social__icon">
                    <ul>
                        <li><a href="#"><i class="icon-facebook-official"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </nav>
            <div class="header__content">
                <p>Rock is fest</p>
                <h1>Music festival</h1>
                <p>
                    Welcome to Rockwille
                </p>
                <button class="btn open__fast">Contact</button>
            </div>
        </div>
    </section>
</header>